fastapi==0.111.0
uvicorn==0.29.0
python-multipart==0.0.9
python-dotenv==1.0.1
Pillow
pytesseract
textblob
scikit-learn
transformers
torch
sentencepiece
accelerate
easyocr
opencv-python-headless
pyzbar
datasets
pandas